<center>
  <h1>Student : </h1><h2><%= @res.name %></h2>
</center>

<table class="table">

  <tr>
    <td> ID </td>
    <td> <%= @res.id %> </td>
  </tr>
  <tr>
    <td> Username </td>
    <td> <%= @res.username %> </td>
  </tr>
  <tr>
    <td> Name </td>
    <td> <%= @res.name %> </td>
  </tr>
  <tr>
    <td> Age </td>
    <td> <%= @res.age %> </td>
  </tr>
  <tr>
    <td> Mobile </td>
    <td> <%= @res.mob %> </td>
  </tr>
  <tr>
    <td> Department </td>
    <td> <%= @res.dept %> </td>
  </tr>
  <tr>
    <td> Email </td>
    <td> <%= @res.email %> </td>
  </tr>
</table>
